div.brewery-list {
	width: 100%;
	overflow: auto;
}

div.brewery {
	box-sizing: border-box;
	padding: 5px;
	width: 50%;
	float: left;
}
div.brewery a {
	width: 100%;
	height: auto;
}
div.brewery img {
	max-width:100%;
	max-height:100%;
	object-fit: contain;
}
.brewery-header {
	background-color: lightgray;
	text-align: center;
	padding: 10px;
	margin: 0;
}
div.beer img {
	max-width: 5%;
	max-height: 5%;
}
#f {
	max-width: 20%;
	max-height: 20%;
	position: fixed;
	bottom: 0;
	right: 0;
}
figcaption {
	text-align: center;
}
