div.brewery-list {
	width: 100%;
	overflow: auto;
}

div.brewery {
	box-sizing: border-box;
	padding: 5px;
	width: 50%;
	float: left;
}
div.brewery a {
	width: 100%;
	height: auto;
}
div.brewery img {
	max-width:100%;
	max-height:100%;
	object-fit: contain;
}
@font-face {
    font-family: BrixSansBold;
    src: url("fonts/Brix Sans Bold.ttf");
}
.brewery-header {
	background-image: linear-gradient(to right, #FFC900 , #D8844F);
	text-align: center;
	padding: 10px;
	margin: 0 !important;
	color: #252735;
	font-family: BrixSansBold;
	font-size: 24pt;
	font-weight: bold;
}
#qm {
	max-width: 20px;
	max-height: 20px;
}
.beer {
	max-width: 100px;
	max-height: 100px;
}
#f {
	max-width: 20%;
	max-height: 20%;
	position: fixed;
	bottom: 0;
	right: 0;
}
.row figure {
	display: inline-block;
	max-width: 98%;
	height: auto;
	width: 30%;
	margin: 1%;
}
.row {
	padding-left: 15px;
}
figcaption {
	text-align: left;
	font-size: 12pt;
}
body {
	background-color: #252735;
	color: white;
	margin: 0;
	padding: 0;
}
a {
	color: white;
}
.btype {
	color: white;
	font-size: 18pt;
	padding-left: 20px;
}
